<!DOCTYPE html>
<html lang="en">

<head>

  <!--  Meta  -->
  <meta charset="UTF-8" />
  <title>EN</title>

  <!--  Styles  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="styles/index.processed.css">
</head>

<body>
  <div id="app">
    <div id="ch">{{ch}}</div>
    <div id="en">{{en}}</div>
    <section id="sel">
      <select v-model="list[ep]" v-on:change="onSelect()">
        <option v-for="opt in list" v-bind:value="opt">{{ opt }}</option>
      </select>
      <span v-if="loading">Loading...</span>
    </section>
  </div>

  <!-- Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
  <script src="scripts/index.js"></script>
</body>

</html>