/**
 * index.scss
 * - Add any styles you want here!
 */
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #eee;
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch;
  white-space: pre;
  font: normal 18px/27px sans-serif;
}

#app:before, #app:after {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
}

#app:before {
  height: 100px;
  top: 50%;
  margin-top: -50px;
  background-color: white;
  left: 0;
  box-shadow: 0 0 30px white;
  z-index: 0;
}

#app:after {
  height: calc(50% - 50px);
  margin-top: 50px;
  background: #000;
  top: 50%;
  right: 0;
  z-index: 10;
}

#app > div {
  height: 100%;
  width: 50%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  z-index: 10;
}

#app > div::-webkit-scrollbar {
  width: 10px;
}

#app > div::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#app > div::-webkit-scrollbar-thumb {
  background: #888;
}

#app > div::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#app #ch {
  padding-right: 10px;
  text-align: right;
}

#app #en {
  padding-left: 10px;
}

#sel {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;
  font-size: 20px;
}

#sel select {
  font-size: 24px;
}
